/*
    Title:      Watch Me Code CSS
    
    File:       wmc.css
    Source:     http://watchmecode.appspot.com/
    
    Author:     Andrew Mason
    Contact:    andrew @ coderonfire dot com
    Website:    http://coderonfire.com/
    
    Licence:
    
    This file is part of Watch Me Code.

    Watch Me Code is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Watch Me Code is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Watch Me Code. If not, see<http://www.gnu.org/licenses/>.
        

*/

/*  Reset (Credit: Eric Meyer)
--------------------------------------------------------------------------- */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, big, cite, code,
em, img, strong, ol, ul, li,
fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}



/*  Basic HTML
--------------------------------------------------------------------------- */
BODY {
    background-color: #FFF;
    font-color: #333;
    font-family: arial, sans-serif;
    font-size: 0.83em;
    color: #222;
}

P {
    margin: .5em 0;
    line-height: 1.4em;
}

A {
    font-weight: bold;
    color: #FFF;
}


/*  Structure
--------------------------------------------------------------------------- */
#wrapper {
    width: 50em;
    margin: 0 auto;
    background-color: #61CBF2;
    padding: 2em;
    -moz-border-radius-bottomleft: 2em;
    -moz-border-radius-bottomright: 2em;
    -webkit-border-bottom-left-radius: 2em;
    -webkit-border-bottom-right-radius: 2em;
    position: relative;
}


/*  Navigation
--------------------------------------------------------------------------- */
#navigation {
    position: absolute;
    right: 1em;
    top: 0
}

#navigation LI {
    float: left;
    margin-right: .2em;
}

#navigation A:link,
#navigation A:visited
{
    display: block;
    background-color: #438CB0;
    padding: .5em 1em;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    -moz-border-radius-bottomleft: 1em;
    -moz-border-radius-bottomright: 1em;
    -webkit-border-bottom-left-radius: 1em;
    -webkit-border-bottom-right-radius: 1em;

    
}

#navigation A:hover,
#navigation A:active
{
    color: #438CB0;
    background-color: #FFF;
    text-shadow: none;
}


/*  Homepage
--------------------------------------------------------------------------- */
H1#title {
    text-align: left;
    font-size: 3em;
    font-weight: bold;
    color: #FFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
    letter-spacing: -0.05em;
    margin-bottom: .4em;
    display: inline;
}

#homepage H1#title {
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    color: #FFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
    letter-spacing: -0.05em;
    margin-bottom: .3em;
}

#intro {
    text-align: center;
    font-size: 1.1em;
    color: #222;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);

}

#stickmen {
    border: 1em solid #FFF;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}



/*  Create Project
--------------------------------------------------------------------------- */



/*  Textareas
--------------------------------------------------------------------------- */
TEXTAREA {
    width: 100%;
}


/*  Editor
--------------------------------------------------------------------------- */
H2#subtitle {
    font-weight: bold;
    color: #FFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
    letter-spacing: -0.05em;
    display: inline;
    font-size: 1.6em;
    margin-left: .5em;
}


/*  Observer
-------------------------------------------------------------------------- */


/*  Static Pages
--------------------------------------------------------------------------- */


#footer {
    width: 50em;
    margin: 1em auto;
    text-align: center;
    color: #666;
    font-size: 0.8em;
}

#footer A {
    color: #61CBF2;
}




