{% extends "base.html" %}

{% block content %}
<div id="intro">
    <p>
        <strong>Watch me Code</strong> is a live, real-time code room where one
        person codes in their browser and another person watches in another.
    </p>
    
    <p>
        <img id="stickmen" src="/images/stick_men_8bit.png" alt="stick men" width="505" height="255" />
    </p>
</div>

<p>
    <form id="create_project" action="/create_project" method="post">
        <input type="submit" value="Create links" />
    </form>
</p>

<p>
</p>

{% endblock %}
